html, body {margin: 0; height: 100%; overflow: hidden}

.menu {
  display: block;
  list-style-type: none;
  text-align: center;
  font-size: 35px;
}

.menu li:nth-child(even) {
  background-color: #add8e6;
}

#main {
  display: flex;
  flex-direction: row;
}

#middle, #left, #right {
  display: flex;
  flex-direction: column;
}

.resourceBar {

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
