
.propertiesPanel {
  width: 25%;
  height: 100%;
  margin: 0;
  background: white;
  flex: 0.25;
}

.gamePanel {
  width: 75%;
  height: 100%;
  margin: 0;
  background: black;
  flex: 0.75;
}

.container {
  margin: 0;
  display: flex;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
